body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* all-style */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --brand-color: #2E2F42;
    --color-link: #4D5AE5;
    --color-text: #E7E9FC;
}

.list {
    list-style: none;
}

.link {
    color: var(--brand-color);
    text-decoration: none;
}

.link:hover {
    color: var(--color-link);
}

a, li {
    list-style-type: none;
    text-decoration: none;
}

.btn {
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}

/* all-style */


/* Logo-web */

.logo-link-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    font-size: 18px;
    color: var(--brand-color);
    text-decoration: none;
} 

.logo-color {
    color: var(--color-link);
    list-style: none;
    text-decoration: none;
}

/* Logo-web */

/* header  */

.header-list {
    display: flex;
    flex-direction: row;    
    gap: 40px;   
}

.header-item {
    list-style: none;
    text-decoration: none;
}


.item-nav {
    color: #2E2F42;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

.mail-tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--brand-color)
}

/* header  */


/* main  */

.wrapper {
    background: #2E2F42;
}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
}

.hero-button {
    background: var(--color-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-text-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* about  */
.about-section {
    color: var(--brand-color);
}

.about-name {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
}

/* about  */

/* what  */

.what-section {
    color: var(--brand-color);
}

.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

/* what  */

/* empl  */
.employees-section {
    background: #F4F4FD;
}
.name-empl {
    font-weight: 500;
    font-size: 20px;

}
/* empl  */

/* main  */

/* footer  */

.footer-block {
    background: #2E2F42;
}

.footer-text {
    color: var(--color-text);
}

.logo-color-down {
    color: #F4F4FD;
}

/* footer  */

/* portfolio  */
.btn-section {
    background: #E5E5E5;
    color: var(--brand-color);
}

.modal-btn {
    background: #F4F4FD;
    color: var(--color-link);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-link);
    border: 1px solid var(--color-text);
    color: var(--color-text)
}

.modal-btn:hover {
    background: var(--color-link);
    color: var(--color-text);
}

.portfolio-text-large {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
}

.portfolio-text-small {
    color: #434455; 
}
/* portfolio  */




/* potom */


